@media screen and (min-width: 720px){
    header{
        background-color: #fffcf5;
    }
}

body {
    padding: 0rem;
    margin: 0rem;
    background-color: #374375;
    position: sticky;
}
body > {
    z-index: 1;
    padding: 1rem 2rem 1rem 2rem;
}

main {

}

header {
    height: min-content;
    width: auto;
    padding: 1rem 2rem;
    color: #fffcf5;
    flex-direction: row;
    display: inline-flex;
    background-color: transparent;
    

}

h1, h2{
    font-family: "Playfair Display", serif;
    margin: 0rem;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    width: fit-content;
    align-content: center;
    animation: 3s infinite alternate slidein;
}

h2{
    font-size: 6rem;
    font-weight: 500;
}

p, a{
    font-family: "PT Mono", monospace;
    font-weight: 100;
    font-style: normal;
}


.icon.header{
    width: auto;
    height: 3rem;
    margin: 0rem 1rem 0rem 0rem;
}

.about{
    background-color: #DFAEA1;
    color: #fffcf5;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
}


.food.m{
    min-width: 16rem;
    max-width: 24rem;
    width: auto;
    border-radius: 64rem;
}

.chef.behind{
    position: absolute;
    z-index: -1;
    height: fit-content;
    width: auto;
    background-color: transparent;
}

/* navy - #374375 cloud - #FFFCF5 periwinkle - #BABDE2 maroon - #895159 peach - #DFAEA1 */